/* -------------------------------------------- */
.edition {
    position: relative;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 59px;
    gap: 20px;
    z-index: 20;
}

.edition button {
    font-family: 'Work Sans';


}

#btn-edition {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
}

#btn-changes {
    border: none;
    background: white;
    color: black;
    height: 38px;
    width: 216px;
    left: 688px;
    border-radius: 60px;
    font-size: 14px;
}

/* -------------------------------------------- */
.modify-btn {
    border: none;
    background: transparent;
    color: black;
    font-size: 14px;
    font-family: 'Work Sans';
    cursor: pointer;
}

#introduction>figure>button {
    padding: 1em 0 0 0;
}

#introduction>article>button {
    padding: 0 0 1em 0;
}

/* -------------------------------------------- */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* -------------------------------------------- */
.modal,
.modal-two {
    flex-direction: column;
    align-items: center;
    padding: 60px 100px 50px 100px;
    background: white;
    border-radius: 10px;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    max-width: 430px;
}

.close-modal {
    border: none;
    background: none;
    position: absolute;
    right: 36px;
    top: 32px;
    cursor: pointer;
}

.modal h1,
.modal-two h1 {
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: black;

    margin-bottom: 50px;
}

/* -------------------------------------------- */
.gallery-modal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.gallery-modal p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.figure-modale {
    position: relative;
}


.figure-modale img {
    width: 100%;
}

.fa-trash-can {
    position: absolute;
    top: 10%;
    right: 20%;
    color: white;
    width: 9px;
}

.fa-trash-can:before {

    background: black;
    padding: 2px 3px;
    border-radius: 2px;
}

.fa-trash-can:hover {
    cursor: pointer;
}

.fa-arrows-up-down-left-right {
    position: absolute;
    top: 10%;
    right: 50%;
    color: white;
    width: 9px;
}

.fa-arrows-up-down-left-right:before {
    background: black;
    padding: 2px;
    border-radius: 2px;
}

.fa-arrows-up-down-left-right:hover {
    cursor: move;
}

.add-photo-btn {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background: #1D6154;
    font-size: 14px;
    padding: 15px 50px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

.empty-gallery {
    font-size: 14px;
    font-family: 'Syne';
    color: #D65353;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

/* -------------------------------------------- */
.previous-modal {
    border: none;
    background: none;
    position: absolute;
    top: 32px;
    left: 36px;
    cursor: pointer;
}

.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-modal label:not(.add-picture) {
    margin-bottom: 1em;
    text-align: left;
    width: 100%;
}

.form-modal label:not(.add-picture) {
    margin-top: 2em;
    text-align: left;
    width: 100%;
}

.form-modal input,
.form-modal select {
    padding: 18px 15px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 100%;
    box-sizing: border-box;
}

.add-picture {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E8F1F7;
    border-radius: 3px;
    height: 170px;
    width: 100%;
}

#preview {
    width: 100%;
    height: 170px;
    object-fit: scale-down;
    background: #E8F1F7;
    border-radius: 3px;
}

.add-picture-btn {
    font-family: 'Syne';
    font-weight: 700;
    color: #306685;
    background: #CBD6DC;
    font-size: 14px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
    margin-top: 20px;
}

.picture-size {
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

#project-category {
    background-image: url("../icons/couleur.svg");
    background-repeat: no-repeat;
    background-position: right 30px center;
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: #b3b3b3;
    margin-top: 50px;
    margin-bottom: 40px;
}

.validation-btn {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background: #A7A7A7;
    font-size: 14px;
    padding: 15px 50px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

/* -------------------------------------------- */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}