.figure-modale {
    position: relative;
}


.figure-modale img {
    width: 100%;
    height: 104px;
}

.fa-trash-can {
    position: absolute;
    top: 5%;
    right: 5%
}

.gallery-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    /* width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 25px; */
}

.edition {

    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 59px;
    gap: 20px;

}

.edition button {
    font-family: 'Work Sans';


}

#btn-edition {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
}

#btn-changes {
    border: none;
    background: white;
    color: black;
    height: 38px;
    width: 216px;
    left: 688px;
    border-radius: 60px;
    font-size: 14px;
}

.modal-btn {
    border: none;
    background: white;
    color: black;
    font-size: 14px;
    font-family: 'Work Sans';
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vh;
    height: 100vh;

}

.modal-container.active {
    display: block;
}

.modal-container.hidden {

    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal,
.modalPartTwo {
    width: 430px;
    padding: 100px 100px 48px 100px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.close-modal {
    border: none;
    background: none;
    position: absolute;
    right: 36px;
    top: 32px;

    cursor: pointer;
}

.modal h1 {
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: black;

    margin-bottom: 52px;
}

hr {
    margin-top: 47px;
    margin-bottom: 38px;
    color: #B3B3B3;
}

.add-photo-btn {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background: #1D6154;
    font-size: 14px;
    width: 237px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    height: 50px;
    margin-bottom: 38px;
}

.modal p {
    font-size: 14px;
    font-family: 'Syne';
    color: #D65353;
    text-align: center;
    cursor: pointer;
}